PORT=5001
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://ardian:developer@localhost:5432/writara?schema=public

# Better Auth
BETTER_AUTH_SECRET=super-secret-key-change-in-production-32-chars-min
BETTER_AUTH_URL=http://localhost:5001

# OpenRouter
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_MODEL=nvidia/nemotron-3-nano-30b-a3b:free
